<div class="contest-header">
    <div class="contest-details">
    <div class="contest-pic-name">
        <div>
        <img class="avatar" height="54" width="54" src="<%= avatar %>"/>
        </div>
        <div>
        <span style="font-size: 20px;"><%= name %></span>   
        </div>
    </div>
    <div class="contest-round"><div class="contest-rules"><a href="#/<%= contest_id %>">Rules</a></div></div>
    </div>
</div>