<div class="page-header">DASHBOARD</div>
<div class="app-section">
    <div class="section-header">
        <div>Organizations</div>
    </div>
    <div class="list-view">
        <% @organizations.each do |organization| %>
            <%= render partial: "/components/avatar_name_details_row", locals: organization%>
        <% end %>
    </div>
</div>
<div class="app-section">
    <div class="section-header">
        <div>Events</div>
    </div>
    <div class="list-view">
        <% @events.each do |event| %>
            <%= render partial: "/components/avatar_name_details_row", locals: event%>
        <% end %>
    </div>
</div>