<% if current_user.is_admin %>
    <div class="app-section">
        <div class="section-header">
            <div>Organizations</div>
            <a href="#">Add</a>
        </div>
        <div class="list-view">
            <% @organizations.each do |organization| %>
                <%= render partial: "/components/avatar_name_details_row", locals: organization%>
            <% end %>
        </div>
    </div>
<% end %>
<div class="app-section">
    <div class="section-header">
        <div>Events <span style="font-size: 90%; color: #0bd393">(press to Join an Event)</span></div>
    </div>
    <% if @current_events.any? %>
        <div class="list-view">
            <div>Current</div>
            <% @current_events.each do |event| %>
                <%= render partial: "/components/avatar_name_details_row", locals: event%>
            <% end %>
        </div>
    <% end %>
    <% if @upcoming_events.any? %>
        <div class="list-view">
            <div>Upcoming</div>
            <% @upcoming_events.each do |event| %>
                <%= render partial: "/components/avatar_name_details_row", locals: event%>
            <% end %>
        </div>
    <% end %>
</div>