/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";
 @import 'bootstrap';

 $primary: #0b9ed3;
 $secondary: #ecf4f7;
 $orange-cream: #dc804b;
 $dark: #292929;
 $limegreen: #0bd393;

 body {
  background-color: $dark;
  color: white;
  height: 100%;
 }

  a:link {
    color: $limegreen;
  }
  a:visited {
    color: $limegreen;
  }
  a:hover {
    color: $primary;
  }
  
  .w3-top {
    background-color: $dark;
  }

  .w3-content {
    background-color: $dark;
  }

 .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 8px;
  color: white;
  img {
    filter: brightness(0) invert(1);
  }
 }

 .header-nav-button {
  justify-content: right;
  font-size: 24px;
  margin-right: 12px
 }

 #nav-links-container {
  display: none;
 }

 .nav-links {
  display: flex;
  flex-direction: column;
  background-color:$limegreen;
 }

 .nav-link:link {
  height: 36px;
  vertical-align: middle;
  padding: 4px;
  font-size: 16px;
  text-decoration: none;
  color: $dark;
 }
 
 .nav-link:visited {
  text-decoration: none;
  color: $dark;
 }

 .nav-link:hover {
  background-color: $secondary;
  border-bottom: none;
  color: $primary;
 }

 .app-section {
  margin-top: 8px;
  padding: 0 16px;
  .list-view {
    margin-top: 16px;
  }
 }

 .scorecard {
  background-color: $dark;
  .scorecard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    color: white;
    background-color: #323232;
    background-image: linear-gradient(#292929, #454545, #292929);
  }
 }

 .contest {
  display: flex;
  flex-direction: column;
  padding: 0px 24px 24px 24px;
  color: white;
  background-color: $dark;
  .contest-header {
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    line-height: 1;
    .contest-details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .contest-pic-name {
        display: flex;
        align-items: center;
        font-size: 18px;
        img {
          margin-right: 8px;
        }
      }
    }
  }
  .contest-team-score {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    p {
      padding: 0;
    }
    .score-form {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 4px 0;
      input {
        border-radius: 3px;
        width: 50%;
      }
      button {
        font-weight: 500;
        background-color: $primary;
        color: white;
        background-image: none;
        border-radius: 3px;
        text-shadow: none;
        width: 50%;
      }
    }
  }
  .contest-competition-container {
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    margin-top: 16px;
    background-color: $dark;
    p {
      padding: 0;
      margin-bottom: 8px;;
    }
    .contest-competition {
      padding: 0;
    }
  }
 }

 .app-container {
  display: flex;
  flex-direction: column;
 }

 .page-header {
  display: flex;
  justify-content: center;
  color: white;
  margin: 4px;
 }

 .section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  color: white;
  margin: 4px;
  padding: 4px 0;
  border-bottom: 1px solid #999;
 }

 .avatar {
  border-radius: 50%;
  border: 2px solid $limegreen;
  background-color: white;
 }

 .avatar-name-details-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
  .pre-row {
    width: 20px;
    margin-right: 8px;
    color: $limegreen;
  }
  .avatar-name-details-row {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    height: 80px; 
    border-radius: 40px;
    background-color: #454545;
    .avatar-name {
      color: white;
      display: flex; 
      flex-direction: row; 
      align-items: center;
    }
    .details {
      text-align: right; 
      color: $limegreen; 
      padding: 0 16px 0 12px;
    }
  }
 }

 .leaderboard-leaders {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: #323232;
  background-image: linear-gradient(#292929, #454545, #292929);
  align-items: center;
  margin-bottom: 16px;
 }

 .leaderboard-leader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  color: white;
  .leader-place {
    margin-bottom: 8px;
    color: $limegreen;
  }
  .leader-avatar-container {
    position: relative;
    .first-place-icon {
      position: absolute;
      top:0;
      right:0;
      color: #ffa90b;
      font-size: 24px
    }
  }
  .leader-title {
    margin-top: 8px;
    font-size: 18px;
  }
  .leader-subtitle {
    font-size: 80%
  }
  .leader-points {
    color: $limegreen;
    font-size: 20px;
    margin-top: 8px;
  }
}

 .leaderboard-rest-of-the-pack {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 24px 24px 24px;
  color: white;
}

.rounds-contests-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 24px 24px 24px;
  color: white;
  background-color: #292929
}