<div class="page-header">IPD 2023 SUMMER GAMES</div>
<div class="page-header">ROUND <%= @round %></div>
<%= render partial: '/components/scorecard' %>
<div class="contest">
  <%= render partial: "/components/contest_header", locals: { avatar: "https://images.8tracks.com/cover/i/000/032/151/beerlympics_flip-7138.jpg?rect=0,4,410,410&q=98&fm=jpg&fit=max", name: "Flip Cup", contest_id: 1 } %>
  <div class="contest-team-score">
    <p class="medium">Enter your score for this round</p>
    <div class="score-form">
      <input type="number" placeholder="Max 40pts."/><button>Next Round</button>
    </div>
  </div>
  <div class="contest-competition-container">
    <p class="medium">Your competition for this round?</p>
    <div class="contest-competition">
      <% @competition.each do |c| %>
        <%= render partial: '/components/avatar_name_details_row', locals: { name: c[:name],  place: c[:place], details: c[:details], avatar: c[:avatar], size: 50} %>
      <% end %>
    </div>
</div>